In [214]:
import pandas as pd
import numpy as np

In [215]:
dengue = pd.read_csv('../Data/dengue_cases_region_final.csv')
dengue.shape

(4996, 3)

In [216]:
dengue.head()

      region  recent_cases        date
0  Admiralty             5  2013-11-24
1  Admiralty             6  2013-12-01
2  Admiralty             8  2013-12-15
3  Admiralty             5  2013-12-22
4  Admiralty             3  2013-12-29

In [217]:
dengue.date = pd.to_datetime(dengue.date)
dengue.set_index('date', inplace=True)

In [218]:
regions = list(dengue.region.unique())
len(regions)

41

In [219]:
def split_df (dataframe, region):
    df = pd.DataFrame(dataframe[dataframe['region']==region]['recent_cases'])
    #df.rename(columns = {'recent_cases':'cases'+'_'+str(region).lower()}, inplace=True)
    df = df.groupby('date').sum()
    df['region'] = region
    return df

In [220]:
dengues = pd.DataFrame()
for r in regions:
    d = split_df(dengue, r)
    dengues = pd.concat([dengues, d], axis=0)

In [221]:
dengues=dengues.reset_index()
dengues['date'] = dengues['date'].astype(str)

In [222]:
trends = pd.read_csv('../Data/google_trends.csv')
weather = pd.read_csv('../Data/weather.csv')

In [223]:
trends.rename(columns={'Unnamed: 0': 'date'}, inplace=True)

In [224]:
trends.head()

         date  aedes  dengue  fever  headache  nosebleed  vomit
0  2017-12-24     16       7     44        66         35     83
1  2017-12-31      0       8     37        78         50     48
2  2018-01-07     14      11     42        57         18     65
3  2018-01-14     25      10     45        61         41     63
4  2018-01-21     51      15     47        60         76     44

In [225]:
weather.head()

,date,daily_rainfall_total,highest_30_min_rainfall,highest_60_min_rainfall,highest_120_min_rainfall,mean_temperature,maximum_temperature,minimum_temperature,mean_wind_speed,max_wind_speed,...,region,daily_rainfall_total_14,highest_30_min_rainfall_14,highest_60_min_rainfall_14,highest_120_min_rainfall_14,mean_temperature_14,maximum_temperature_14,minimum_temperature_14,mean_wind_speed_14,max_wind_speed_14
0,2022-10-01,22.6,18.6,21.4,21.4,26.8,31.8,24.4,6.0,27.8,...,Admiralty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-10-02,16.4,13.2,14.2,16.0,27.1,32.6,23.0,5.8,24.4,...,Admiralty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-10-03,44.2,18.6,33.4,39.6,26.3,31.8,23.1,5.7,52.6,...,Admiralty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-10-04,1.4,1.0,1.2,1.2,26.2,31.2,24.5,6.3,36.3,...,Admiralty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-10-05,49.2,17.6,29.2,44.8,26.0,28.6,22.8,7.2,33.5,...,Admiralty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [226]:
new_df = pd.merge(weather, trends, how ='left',on=['date'])
new_df = pd.merge(new_df, dengues, how ='left', on=['date','region'])

In [227]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130926 entries, 0 to 130925
Data columns (total 28 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   date                         130926 non-null  object
 1   daily_rainfall_total         130926 non-null  float64
 2   highest_30_min_rainfall      130926 non-null  float64
 3   highest_60_min_rainfall      130926 non-null  float64
 4   highest_120_min_rainfall     130926 non-null  float64
 5   mean_temperature             130926 non-null  float64
 6   maximum_temperature          130926 non-null  float64
 7   minimum_temperature          130926 non-null  float64
 8   mean_wind_speed              130926 non-null  float64
 9   max_wind_speed               130926 non-null  float64
 10  year                         130926 non-null  int64
 11  region                       130926 non-null  object
 12  daily_rainfall_total_14      130913 non-null  float64
 13  highest_30_min_rainfall_14   130913 non-null  float64
 14  highest_60_min_rainfall_14   130913 non-null  float64
 15  highest_120_min_rainfall_14  130913 non-null  float64
 16  mean_temperature_14          130913 non-null  float64
 17  maximum_temperature_14       130913 non-null  float64
 18  minimum_temperature_14       130913 non-null  float64
 19  mean_wind_speed_14           130913 non-null  float64
 20  max_wind_speed_14            130913 non-null  float64
 21  aedes                        13520 non-null   float64
 22  dengue                       13520 non-null   float64
 23  fever                        13520 non-null   float64
 24  headache                     13520 non-null   float64
 25  nosebleed                    13520 non-null   float64
 26  vomit                        13520 non-null   float64
 27  recent_cases                 2166 non-null    float64
dtypes: float64(25), int64(1), object(2)
memory usage: 29.0+ MB

In [229]:
new_df.to_csv('../Data/merged_data.csv')